<ul class="five-days-list">
    {{#each this}}
    <li class="five-days-list__item">
        <h2 class="five-days-list__day">{{day}}</h2>
        <a href="#" class="five-days-list__link"><img class="five-days-list__img"
                src="https://openweathermap.org/img/wn/{{icon}}@2x.png" alt="{{alt}}"></a>
    </li>
    {{/each}}
</ul>