html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}

.button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.prg {
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.form-section {
  height: 200px;
}

.search-form {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__input,
.search-form__button {
  height: 50px;
  font-size: 17px;
  border-radius: 15px;
  outline: 0;
}

.search-form__input {
  padding-left: 30px;
  flex: 0 0 65%;
  border: 1px solid #000;
}

.search-form__button {
  flex: 0 0 30%;
  border: 0;
  cursor: pointer;
  background-color: #0093ff;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 200ms linear;
}

.search-form__button:hover,
.search-form__button:focus {
  background-color: #0095ff4b;
  border: 1px solid #0093ff;
}

.weather-list-section {
  margin-bottom: 50px;
}

.five-days-list {
  display: flex;
  padding: 0;
  justify-content: space-around;
  align-items: flex-start;
}

.five-days-list__item {
  list-style: none;
}

.five-days-list__item:hover .five-days-list__day,
.five-days-list__item:focus .five-days-list__day,
.five-days-list__item:hover .five-days-list__link,
.five-days-list__item:focus .five-days-list__link {
  background-color: #2f546e48;
}

.five-days-list__day {
  margin: 0 0 20px;
  padding: 15px;
  text-align: center;
}

.five-days-list__day,
.five-days-list__link {
  background-color: #59dee75e;
  transition: background-color 200ms linear;
}

.five-days-list__link {
  display: block;
  height: 500px;
  padding-top: 50px;
  text-decoration: none;
  color: #000;
}

.five-days-list__img {
  margin: 0 auto;
}

.weather-short-list {
  padding: 50px 10px 0;
}

.weather-short-list__item {
  list-style: none;
  /* display: flex;
  justify-content: space-between; */
}

.weather-short-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.weather-short-list__title {
}

.weather-short-list__value {
  padding-left: 5px;
}
